@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

.side-bar {
  height: 100vh;
  width: 20vw;
  background: #320f45;
  /* position: fixed; */
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  float: left;
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
}

.nav-bar div {
  height: 2em;
  padding: .5em;
  line-height: 2em;
}

.nav-bar div:hover {
  background: #581d79;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  padding: 2em;
  overflow: scroll;
  float: right;
  box-sizing: border-box;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h5 {
  font-size: 2em;
}

.about p {
  font-size: 2em;
}

.experience {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.col-container {
  display: flex;
  flex-direction: row;
}

.col-1 {
  height: 100%;
  width: 30vw;
  margin: 1em;
  background-color: rgba(185,121,145, 0.2);
}

.col-2 {
  height: 100%;
  width: 30vw;
  margin: 1em;
  background-color: rgba(185,121,145, 0.2);
}

.col-3 {
  height: 100%;
  width: 30vw;
  margin: 1em;
  background-color: rgba(185,121,145, 0.2);
}
