.App {
  height: 100vh;
  width: 100vw;
}

.header {
  height: 40vh;
  width: 100vw;
  background-image: url('./images/ChiTown_Skyline.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
